# Konfiguracja frontendu React
# Skopiuj ten plik jako .env i ustaw swoje wartości
# Zmienne środowiskowe dla React muszą zaczynać się od REACT_APP_

# PayPal Configuration (PRAWDZIWE KLUCZE LIVE!)
REACT_APP_PAYPAL_CLIENT_ID=Affx9V_8v8IOGAfyMHPooVW70t1eAOGMSoCUCTW-9mrjeeTsHw14cwA6RqN8lqzFRSn7sHi9AG75BGlC
REACT_APP_PAYPAL_ENVIRONMENT=live

# Backend URL
REACT_APP_API_URL=https://twojadomena.pl

# Frontend URL
REACT_APP_FRONTEND_URL=https://twojadomena.pl
